@tailwind base;
@tailwind components;
@tailwind utilities;


.auth_bg {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/AuthBG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




.home_bg {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/download.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.bounce-effect {
  transition: all 0.6s cubic-bezier(0.20, 2.0, .20, 0.7);
  /* transition: height 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
}



/* masonary */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: transparent;
  margin-bottom: 30px;
}











.crick-Container {
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 117px;
  padding-right: 117px;
}

@media screen and (max-width: 1280px) {
  .crick-Container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .crick-Container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .crick-Container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 340px) {
  .crick-Container {
    padding-left: 16px;
    padding-right: 16px;
  }
}