@tailwind base;
@tailwind components;
@tailwind utilities;


.auth_bg {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/AuthBG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.crick-Container {
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 117px;
  padding-right: 117px;
}


.home_bg {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('https://i.ibb.co.com/cDjgW39/Untitled-design-2.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.bounce-effect {
  transition: all 0.6s cubic-bezier(0.20, 2.0, .20, 0.7);
}



/* masonary */
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column>div {
  background: transparent;
  margin-bottom: 30px;
}


.customScrollbar::-webkit-scrollbar {
  height: 6px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #811aaa;
}



.parent {
  display: grid;
  width: 100vw;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
}
  
.div1 {
  grid-row: span 4 / span 4;
}

.div3 {
  grid-row: span 5 / span 5;
}

.div6 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 6;
}

.div7 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 1;
}

.div8 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
}

.div9 {
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 5;
}

.div10 {
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 5;
}
      
/*  */
/* table action */
.tableAction:nth-last-child(1) {
  display: flex;
  justify-content: end;
  align-items: center;
}


@media screen and (max-width: 1280px) {
  .crick-Container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .crick-Container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .crick-Container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 340px) {
  .crick-Container {
    padding-left: 16px;
    padding-right: 16px;
  }
}