@tailwind base;
@tailwind components;
@tailwind utilities;


div1,
.div2 {
  transition: width 0.3s ease, transform 0.3s ease;
  position: relative;
}

.div1:hover {
  width: 24rem;
}

.div1:hover ~ .div2 {
  width: 12rem;
}

.div2:hover {
  width: 24rem;
  /* transform: translateY(-6rem); */
}

.div2:hover ~ .div1 {
  width: 12rem !important;
}

/* .relative:hover .div3 {
  height: 24rem; 
}

.relative:hover .div4 {
  height: 12rem; 
}

.relative .div4:hover {
  height: 24rem; 
}

.relative .div3:hover {
  height: 12rem; 
}
 */
.crick-Container {
    max-width: 1512px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 117px;
    padding-right: 117px;
  }
  
  @media screen and (max-width: 1280px) {
    .crick-Container {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .crick-Container {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .crick-Container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media screen and (max-width: 400px) {}
  
  @media screen and (max-width: 340px) {
    .crick-Container {
      padding-left: 16px;
      padding-right: 16px;
    }
  }